<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <meta name="description" content="<%=description%>">
    <meta name="author" content="<%=author%>">
    <link href="/css/style.css" rel="stylesheet">
    <!-- styles -->
</head>

<body>
    <header></header>
    <nav>
        <%- navitems %>
    </nav>
    <p></p>
    <div class="content">
        <%- content %>
    </div>
    <footer></footer>
</body>

</html>